TPSProject/Content/FPWeapon
TPSProject/Content/Weapons
TPSProject/Binaries/Win64
TPSProject/Content/Assets/AnimStarterPack
TPSProject/Content/Assets
TPSProject/Content/Animation/Anim_UE5Mannequin
TPSProject/Intermediate/Build/Win64
TPSProject/Content/StarterContent
TPSProject/Content/ThirdPerson
TPSProject/Content/MSPresets
TPSProject/Content/Megascans
test/Source/test
test
testProject
TPSProject/Content/LevelPrototyping
TPSProject/Content/Effects
TPSProject/Content/FirstPerson
TPSProject/Content/FirstPersonArms
TPSProject/Content/LyraAssets
TPSProject/Content/__ExternalActors__
TPSProject/Content/__ExternalObjects__
TPSProject/Content/AFPS
TPSProject/Content/ContentExampleAssets
TPSProject/Content/LyraWeapons
TPSProject/Content/LyraCharacters
TPSProject/Content/LyraResources
TPSProject/Content/SoulCity
TPSProject/Content/Audio
TPSProject/Content/Characters
TPSProject/Content/ContextEffects
TPSProject/Content/Environments
TPSProject/Content/GameplayEffects
TPSProject/Content/Input
TPSProject/Content/ParagonPhase
TPSProject/Content/PhysicsMaterials
TPSProject/Content/SpaceshipInterior
TPSProject/Content/System
TPSProject/Content/UI
TPSProject/Content/Feedback
TPSProject/Content/Animation/LyraAnim
TPSProject/Content/sA_PickupSet_1
TPSProject/Content/Interface_And_Item_Sounds
