TPSProject/Content/FPWeapon
TPSProject/Content/Weapons
TPSProject/Binaries/Win64
TPSProject/Content/Assets/AnimStarterPack
TPSProject/Content/Assets
TPSProject/Content/Animation/Anim_UE5Mannequin
TPSProject/Intermediate/Build/Win64
TPSProject/Content/StarterContent
TPSProject/Content/ThirdPerson
TPSProject/Content/MSPresets
TPSProject/Content/Megascans
test/Source/test
test
testProject
